@model LoginCommand
@{
    ViewData["Title"] = "Login";
}
<form method="post">
    @Html.AntiForgeryToken()
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Login</h1>
        </div>
        @Html.ValidationMessage("CustomError")
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Email" type="email" placeholder="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <input asp-for="Password" placeholder="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pb-2">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
