@model CouponDto
@{
    ViewData["Title"] = "Create Coupon";
}
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Create Coupon</h1>
        </div>
        @Html.ValidationMessage("CustomError")
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-2">
                <label asp-for="Code" class="control-label">Code</label>
            </div>
            <div class="col-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="DiscountAmount" class="control-label">Discount Amount</label>
            </div>
            <div class="col-10">
                <input asp-for="DiscountAmount" class="form-control" />
                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="MinAmount" class="control-label">Min Amount</label>
            </div>
            <div class="col-10">
                <input asp-for="MinAmount" class="form-control" />
                <span asp-validation-for="MinAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-2">
                <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
