@model ProductDto
@{
    ViewData["Title"] = "Edit Product";
}
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div class="container border p-4">
        <div class="row text-center">
            <h1>Edit Product</h1>
        </div>
        @Html.ValidationMessage("CustomError")
        @Html.ValidationSummary(true)
        <input asp-for="Id" type="hidden" />
        <div class="row">
            <div class="col-2">
                <label asp-for="Name" class="control-label">Name</label>
            </div>
            <div class="col-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Price" class="control-label">Price</label>
            </div>
            <div class="col-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Description" class="control-label">Description</label>
            </div>
            <div class="col-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="CategoryName" class="control-label">CategoryName</label>
            </div>
            <div class="col-10">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label">ImageUrl</label>
            </div>
            <div class="col-10">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-2">
                <a asp-action="Index" class="btn btn-secondary">Back To List</a>
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}
